/* .scroll {
  position: fixed;
background: linear-gradient(54deg, rgba(247,0,0,1) 4%, rgba(37,87,249,0.9031776685393258) 100%);
scale: 0 1;
  height: 10px;
  width: 100%;
  top: 0;
  transform-origin: left;
  animation: animeScroll ease-in;
animation-timeline: scroll()
}

@keyframes animeScroll{
  to{scale: 1 1}
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100vw;
  background: red;
  gap: 10px;

  flex-wrap: wrap;
}

.fadeOut {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100vw;
  background: red;
  gap: 10px;
  color: #fff;
  background: url("https://images.pexels.com/photos/703016/pexels-photo-703016.jpeg?auto=compress&cs=tinysrgb&w=300")
    no-repeat;
  background-size: cover;

  animation: fadeout linear forwards;
  animation-timeline: view();
  animation-range: exit 200px;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  95%,
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  animation: scrollSpan linear;
  animation-timeline: scroll(root);
  animation-range-start: 0px;
}
.containerLeft {
  transform-origin: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  animation: scrollSpanLeft linear;
  animation-timeline: scroll(root);
  animation-range: entry;
}

section:nth-child(odd) {
  background: blue;
}

.span {
  padding: 10px;
  background: #101010;
  color: #fff;
  border-radius: 4px;
}

@keyframes scrollSpan {
  from {
    transform: translate(-100vw);
  }
  to {
    transform: translate(100vw);
  }
}

@keyframes scrollSpanLeft {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100vw);
  }
}

img {
  height: 100%;
  transform-origin: center;
  transform: scale(0.8);
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry 100px;
  scroll-snap-align: center;
}

@keyframes fade-in {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.text {
  background: #101010;
  height: 70vh;
}

span {
  font-family: system-ui;
  color: transparent;
  font-size: 2em;
  background-clip: text;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, #fff, #fff);
  animation: textScroll forwards;
  animation-timeline: view();
  animation-range-start: contain;
  animation-range-end: 50vh;
}

@media screen and (max-width: 992px) {
  .text {
    height: 100vh;
  }
  span {
    animation-range-start: entry;
    animation-range-end: 80vh;
  }

  h1 span {
    animation-range-start: contain;
    animation-range-end: 50vh;
  }
}

@keyframes textScroll {
  to {
    background-size: 100% 100%;
  }
}
